* {
  padding: 0;
  margin: 0;
}
*, *::after, *::before {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

.header-container {
  max-width: 1440px;
  width: 100%;
  height: auto;
  padding-top: 30px;

}

.nav-menu {
  max-width: 1440px;
  width: 100%;
  height: 80px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  backdrop-filter: blur(10px);

   

}

.logo-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 107.2px;
  width: 100%;
  height: 32px;
  margin-left: 135px;
}

.nav-items-list {
 list-style-type: none; 
    margin-left: 570px;
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: flex-end;
     font-family: "Lato", sans-serif;
    font-weight: 400;
  
}

.nav-items-list a {
  text-decoration: none;
  color: black;
}


.nav-items-list a:hover {
 border-bottom: 3px solid #F1897B;
 

}



.nav-items-list li {
   margin-right: 30px;
}

 .container-image {
          max-width: 1440px;
          width: 100%;
          height: 993px;
       background: url('/backgrounds/first-screen-imagefirst-section-background.svg') no-repeat center center/cover;
        }



.first-section-container {
  display: flex;
  flex-direction: row ;
  justify-content: flex-start;
  max-width: 523px;
  width: 100%;
  height: 302px;
  padding-top: 150px;
  margin-left: 135px;
}

.peer-section {
  font-family: "Playfair Display", serif;
  font-weight: 400;
color: #262A3F;
}

.section-h1 {
  font-family: "Playfair Display", serif;
font-size: 44px;
font-weight: 400;
padding-bottom: 20px;
}
.blue-text {
  font-style: italic;
  color:rgba(107, 164, 131, 0.8);
}


.section-h2 {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 50px;
}

.join-now-button {
  
}